body{
 font-family: 'Titillium Web', sans-serif; 
}
.navbar{
    background-color: white;
    min-height: 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: black;
}
.navbar-toggler{
    font-size: 30px;
}
.title{
    color: black;
    font-size: 1em;
    padding-left: 20px;
    margin-top: 150px;
}
.logo{
    min-width: 20px;
    max-width: 40px;
}
#hero{
    background-image: url('../img/portada.png');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
}

.btn-outline-success{
    color: black;
    border-color: black;
}
.btn-outline-success:hover{
    background-color: black;
    color: white;
}
.bg-footer{
    background-color: black !important;
}
footer{
    text-align: center;
    padding: 80px 0;
    color: white;
}
.list-inline a{
    color: white;
    text-decoration: none;
    padding-right: 25px;
}
.icon{
    width: 60px;
}
#formulario{
    padding-top: 30px;
    padding-bottom: 30px;
    border: 3px solid white;
    border-radius:0 0 5px 5px;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    color: white;
    width: 300px;
    text-align: center;
    margin: auto;
}

#formulario input{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 250px;
    border-radius: 3px;
}
label :focus{
    border: 3px solid yellow;
}
#login{
    margin: auto;
}
.btn-primary{
    width: 250px;
}

#primeraPant{
    display: block;
}
#segundaPant{
    display: none;
}
#tipos{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0.2px 0 0 slategray;
}
#particulares{
    padding-right: 10px;
    margin-right: 10px;
    font-size: 21px;
}
#locales{
    font-size: 21px;
}
#particulares a {
    text-decoration: none;
    color: black;
}
#locales a {
    text-decoration: none;
    color: black;
}
h5{
    margin-top: 16px;
    margin-bottom: 10px;
    box-shadow: 0 0.2px 0 0 slategray;
}
#formularioBusqueda, #formularioContacto{
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px solid slategray;
    border-radius:5px 5px 5px 5px;
    align-content: center;
    margin: auto;
    margin-bottom: 20px;
}
#formularioBusqueda input, select{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    min-width: 180px;
    max-width: 250px;
    border-radius: 3px;
    margin-left: 15px;
}
#formularioContacto input,textarea{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    min-width: 250px;
    max-width: 250px;
    border-radius: 3px;
    margin-left: 15px;
}

 #buscar{
    margin-left: 15px;
    margin-top: 40px;
    min-width: 180px;
    max-width: 250px;
    width: 180px;
}
#novedades{
    text-align: center;
}

.establecimiento{
    text-align: center;
    background-color: white;
    margin-bottom: 15px;
    border-top: 2px solid slategrey;
    border-bottom: 2px solid slategrey;
}
#establecimiento img{
    margin: auto;
    width: 200px;
    height: 130px;
    border: 0.5px solid slategray;
    margin-top: 10px;
}
#izq p{
    text-align: center;
    border: 1px solid slategrey;
    border-radius: 2px;
}
#sobreNosotros{
    display: none;
}
#sobreNosotros p{
    font-size: 25px;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 65px;
}
#contacto{
    display: none;
}
#contacta{
    margin-top: 30px;
    font-weight: bold;
    color: slategrey;
}



